@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background: -webkit-linear-gradient(left, #1e90ff 20px, transparent 1%) center, -webkit-linear-gradient(#1e90ff 20px, transparent 1%) center, #1b77d4;
    background: linear-gradient(90deg, #1e90ff 20px, transparent 1%) center, linear-gradient(#1e90ff 20px, transparent 1%) center, #75baff;
    background-size: 22px 22px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }